[submodule "DVD"]
	path = DVD
	url = https://github.com/DiriectorDoc/DVD
[submodule "Simon"]
	path = Simon
	url = https://github.com/DiriectorDoc/Simon
[submodule "All-Purpose-Counter"]
	path = All-Purpose-Counter
	url = https://github.com/DiriectorDoc/All-Purpose-Counter
[submodule "Checklist-Maker"]
	path = Checklist-Maker
	url = https://github.com/DiriectorDoc/Checklist-Maker
[submodule "Doc-s-Wikipediholism-test"]
	path = Doc-s-Wikipediholism-test
	url = https://github.com/DiriectorDoc/Doc-s-Wikipediholism-test
[submodule "jQlipboard-Docs"]
	path = jQlipboard-Docs
	url = https://github.com/DiriectorDoc/jQlipboard-Docs
[submodule "Doc-Bot-Docs"]
	path = Doc-Bot-Docs
	url = https://github.com/DiriectorDoc/Doc-Bot-Docs
