body {
	background: black;
	margin: 8px 0;
	font-family: Arial, Helvetica, sans-serif;
}
.caption {
	text-align: right;
	float: right;
	width: 50%;
}
.container div {
	font-size: 1rem;
}
.container {
	background: white;
	width: 1080px;
	max-width: 100%;
	margin: auto;
	min-height: 100%;
	font-size: 0;
	background: #eee;
}
.list-element {
	margin: .5em 1em;
	height: 125px;
	display: inline-block;
	width: calc(100% - 3.414213562373em - 2px);
	border: 1px solid grey;
	border-radius: 1em;
	padding: .7071067811865em;
	background: #e4e4e4
}
.list-element.odd {
	background: #d0d0d0
}
.list-element:hover {
	background: #bbb;
}
.preview img {
	max-height: 125px;
	max-width: 100%;
}
.preview {
	float: left;
	width: 50%;
	text-align: center;
}
#content {
	width: calc(76.393202250021% - 3.2360679774998em);
	display: inline-block;
	padding: 1.6180339887499em;
}
#header {
	height: 157.569876450341px;
}
#list {
	border: 1px solid grey;
	padding: .5em 0;
}
#nav {
	height: 37.1972020485237px;
}
#sidebar ul {
	word-wrap: break-word;
}
#sidebar {
	width: calc(23.606797749979% - 2em);
	border: 1px solid grey;
	display: inline-block;
	vertical-align: top;
	margin: calc(1em - 2px);
	margin-right: 0;
	padding: 0 .5em;
}